.home-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 1fr;
    background-color: yellow;
    height:95vh;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}